################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InJamaicaMade.github.io/FileContentIndex/402724c3-c2b2-48ca-a72a-a2918332aa4c.vsidx
/.vs/InJamaicaMade.github.io/FileContentIndex/4724ece8-9c39-4a66-a82f-746986983a11.vsidx
/.vs/InJamaicaMade.github.io/FileContentIndex/693f73c3-ac55-4d69-9794-635e4d07ade7.vsidx
/.vs/InJamaicaMade.github.io/FileContentIndex/8d507a74-f3a5-4650-ad6c-bea8d958a4dd.vsidx
